$font: -apple-system, 
        BlinkMacSystemFont, 
        avenir next, 
        avenir, 
        segoe ui, 
        helvetica neue, 
        helvetica, 
        Ubuntu, 
        roboto, 
        noto, 
        arial, 
        sans-serif;

//$color0: #0e0e12;
//$color1: #1a1a24;
//$color2: #333346;
//$color3: #535373;
//$color4: #8080a4;
//$color5: #a6a6bf;
//$color6: #c1c1d2;
//$color7: #e6e6ec;

$font-small: 13px;
$font-normal: 16px;
$font-big: 19px;

$font-bold: 500;